<div class="jumbotron">
  <h1>Welcome Home to Rolling Acres Estates Mobile Home Park</h1>
  <p class="lead">
    The Best Place to Live In Ohio
  </p>
</div>

<div class="row marketing">
<p>You'll feel at home when you live at Rolling Acres Estates mobile home park. Our residents feel that Rolling Acres is the best place to live in Ohio, and we know you will too.</p>

<p>We offer spacious lots in our land-lease community for your manufactured home. Our mobile home park has underground utilities and cable, city water from Cincinnati Water Works, off street parking and ample overflow and visitor parking for your convenience. Our beautiful community is not the trailer park of the past. We have attractive mature trees, well maintained lawns, and colorful, professional landscaping. All this is professionally managed by an accredited community manager.</p>

<p>Rolling Acres Estates is like no other mobile home park in Greater Cincinnati. Our highly qualified staff, friendly residents, and community environment makes our mobile home park unique. Come see for yourself. Stop by today at Rolling Acres Estates mobile home park. We'll make you feel right at home.</p>

<p>For directions to our location click <a href="#/directions">here!</a></p>
</div>
