<h1>Questions</h1>
<p>
	
 <blockquote>
    <p><strong>Q:</strong> <em>What is included in my lot fee?</em><br>
    <strong>A:</strong> Curbside trash pick up is included in your lot fee. 
    All real estate taxes and all utilities are paid by the resident.</p>

    <p><strong>Q:</strong> <em>What type of amenities does Rolling Acres Estates have?</em><br>
    <strong>A: </strong> Rolling Acres Estates has many amenities including paved streets,
    RV storage, swimming pool, playground area, club house, on site courtesy officer,
    off street parking and ample visitor parking.</p>

    <p><strong>Q:</strong> <em>Can I landscape around my home?</em><br>
    <strong>A:</strong> Residents are permitted to landscape around their home,
    but they are required to get approval by the management before any changes
    are made.</p>

    <p><strong>Q:</strong> <em>Can I store my boat or RV at my lot?</em><br>
    <strong>A:</strong> Rolling Acres does not allow residents to store their
    recreational vehicles at their lot, but we do have a separate secured area
    where your boat and RV can be stored.</p>

    <p><strong>Q: </strong> <em>What are the educational opportunities near Rolling Acres Estates?</em><br>
    <strong>A:</strong> We are located in the award winning Southwest Local School District (please see
    links for more information). Plus we are close to facilities where you can further
    your education, such as Cincinnati State, University of Cincinnati and the College
    of Mount St. Joseph.</p>

    <p><strong>Q:</strong> <em>Are pets allowed?</em><br>
    <strong>A: </strong>Residents are allowed to have a small indoor pet. Other
    restrictions my apply.</p>
  </blockquote>	
</p>
